<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link type="text/css" href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/Teams">Teams</a>
            <a href="/Stadiums">Stadiums</a>
        </nav>
        <article class="top">

        </article>
    </header>
    <article class="main">
        <aside class="leftside">

        </aside>
        <article class="content">
            @RenderBody()
        </article>
        <aside class="rightside">

        </aside>
    </article>
    <footer>

    </footer>
</body>
</html>
